rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function perfil() {
      return get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.perfil;
    }
    function vinculo() {
      return get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.vinculo;
    }

    match /obras/{id} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && perfil() == 'gerente';
      allow update: if request.auth != null && (
        perfil() == 'gerente' ||
        perfil() == 'genesis' ||
        perfil() == 'estagiario' ||
        (perfil() == 'empreiteira' && resource.data.empreiteira == vinculo()) ||
        (perfil() == 'fiscal' && resource.data.fiscal == vinculo())
      );
      allow delete: if request.auth != null && perfil() == 'gerente';
    }

    match /usuarios/{uid} {
      allow read: if request.auth != null &&
        (request.auth.uid == uid || perfil() == 'gerente');
      allow write: if request.auth != null && perfil() == 'gerente';
    }

    match /empreiteiras/{id} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && perfil() == 'gerente';
    }

    match /notificacoes/{id} {
      allow read, write: if request.auth != null;
    }
  }
}
